// Variáveis do tema AVA IFRN (theme_ifrn25)

:root {
    --verde-tema: #098e95;
    --verde-escuro: #0b6064;
    --verde-claro: #dff4ee;
    --verde-icon: #338f74;

    --primary: #098e95;
    --primary-dark: #0f5a60;
    --primary-light: #cefdef;
    --secondary: #9f6ede;
    --secondary-dark: #633594;
    --secondary-light: #e7dbf9;
    --success: #85c121;
    --danger: #fe5448;
    --danger-dark: #a41a10;
    --danger-light: #ffe2e0;
    --light: #ebebeb;
    --light-dark: #cccccc;
    --light-lighter: #f5f5f5;
    --dark: #2b2b2b;
    --dark-light: #858585;
    --muted: #7d848b;
    --cinza-secundario: #54595e;
    --general-white: #ffffff;
    --branco-primario: #ffffff;
    --escuro-primario: #2b2b2b;

    --ion-color-primary: #098e95;
    --ion-color-primary-rgb: 9, 142, 149;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #087c82;
    --ion-color-primary-tint: #22999f;
    --ion-color-secondary: #9f6ede;
    --ion-color-secondary-rgb: 159, 110, 222;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-shade: #8c61c3;
    --ion-color-secondary-tint: #a97de1;
    --ion-font-family: "Noto Sans", Arial, Helvetica, sans-serif;
    --ion-background-color: #ffffff;
    --ion-text-color: #2b2b2b;

    --font-family: "Noto Sans", sans-serif;
    --font-heading1: 700 1.5rem / normal var(--font-family);
    --font-heading2: 700 1.125rem / normal var(--font-family);
    --font-heading5: 500 0.75rem / normal var(--font-family);
    --font-heading6: 500 0.625rem / normal var(--font-family);
    --font-button2: 600 0.875rem / normal var(--font-family);
    --font-paragraph1: 400 1rem / 1.5 var(--font-family);
}
